 <body [class.dark-theme]="isDarkTheme">
  <mat-sidenav-container>  
    <mat-toolbar color="primary">
      <span>Toolbar</span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->
      <mat-slide-toggle 
        class="example-margin" 
        (change)="toggleTheme()">Change theme</mat-slide-toggle>  
    </mat-toolbar>  
  </mat-sidenav-container>


  <div class="web-body">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div #slides class="mySlides fade" style="display:block">
        <img src="/assets/pictures/office-1.jpg">      
        <div class="text">Caption Text</div>
      </div>

      <div #slides class="mySlides fade">
        <img src="/assets/pictures/office-2.jpg">
        <div class="text">Caption Two</div>
      </div>

      <div #slides class="mySlides fade">
        <img src="/assets/pictures/office-3.jpg">
        <div class="text">Caption Three</div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>  
    <br>
  </div>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span #dot class="dot" (click)="currentSlide(1)"></span> 
    <span #dot class="dot" (click)="currentSlide(2)"></span> 
    <span #dot class="dot" (click)="currentSlide(3)"></span> 
  </div>
  
  <!-- Price table -->
  <div class="columns">
    <ul class="price">
      <li class="header">Small</li>
      <li class="grey">$ 9.99 / meter</li>
      <li>50 Meters</li>
      <li>Sharing printer</li>
      <li>Free network</li>
      <li>Including reception</li>
      <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Medium</li>
      <li class="grey">$ 8.99 / meter</li>
      <li>80 Meters</li>
      <li>Sharing printer</li>
      <li>Free network</li>
      <li>Including reception</li>
      <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <li class="header">Larger</li>
      <li class="grey">$ 7.99 / meter</li>
      <li>120 Meters</li>
      <li>Sharing printer</li>
      <li>Free network</li>
      <li>Including reception</li>
      <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
  </div> 
  <br>

  <div class="footer">
    <span>Footer</span>
  </div>

</body>